.logo-img {
  width: 130px;
  height: 60px;
}

.header-component {
  background-color: #fff;
}

.text-link-profile {
  margin-right: 10px;
  color: rgb(0, 194, 243);
}

.content-profile-menu {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}